* {
  box-sizing: border-box;
}

$pallete1: #584153; //violeta oscuro para títulos
$pallete2: #ffe3ed; //rosa claro para fondo
$pallete3: #6c7b95; //para escribir
$pallete4: #ffcac2; //rosa para border
$pallete5: rgb(238, 235, 235); //fondo de add y delete
$ipadpro: 1024px;
$ipad: 768px;
$mobile: 468px;

.wrapper {
  font-family: sans-serif;
  background-color: #fae3d9;
  height: 100vh;
 // width: auto;

  
  
  .container {
    width: 50rem;
    height: auto;
    margin: 0 auto;

    @media screen and (max-width: $ipadpro){
      width: 40rem;
    }
    @media screen and (max-width: $mobile){
      width: 15rem;
    }
    
    .title {
      text-align: center;
      padding-top: 3rem;
      margin-bottom: 2rem;
      font-size: 1.5em;
      font-weight: bold;
      color: $pallete1;

      @media screen and (max-width: $mobile){
        padding-top: 1rem;
      }
    }
    
    .box {
      display: flex;
      
      @media screen and (max-width: $ipadpro){
        display: flex;
        flex-direction: column;
      }
      .anotar {
        display: flex;
        flex-direction: column;
        margin-right: 1.5rem;
        width: 100%;

        @media screen and (max-width: $ipadpro){
          margin-bottom: 5rem;
          margin-right: 0;
        }
        @media screen and (max-width: $mobile){
          margin-bottom: 3rem;
        }
        
        .title-anotar {
          margin-bottom: 1rem;
          text-align: center;
          color: $pallete1;
          font-size: 1em;
          font-weight: 600;
        }
        
        .text-anotar {
          width: 100%;
          height: 5rem;
          border-radius: 10px;
          border: 2px solid $pallete4;
          background-color: $pallete2;
          margin-bottom: 1rem;
          padding-top: 0.5rem;
          padding-left: 1rem;
          color: $pallete3;
          font-size: 1em;
        }
        
        .add {
          background-color: $pallete5;
          border-radius: 8px;
          border: 2px solid $pallete4;
          height: 2rem;
          width: 100%;
          color: $pallete3;
          font-weight: 600;
          font-size: 1em;

          @media screen and (max-width: $ipadpro){
            height: 3rem;
          }
          @media screen and (max-width: $mobile){
            height: 1.5rem;
            margin-top: -0.5rem;
          }
        }
      } //anotar

      .anotado {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        width: 100%;

        @media screen and (max-width: $mobile){
          margin-left: 0;
        }
        
        .title-anotado {
          margin-bottom: 1rem;
          text-align: center;
          color: $pallete1;
          font-size: 1em;
          font-weight: 600;
        }
        
        .text-anotado {
          width: 100%;
          height: 25rem;
          border-radius: 10px;
          border: 2px solid $pallete4;
          background-color: $pallete2;
          margin-bottom: 1rem;
          padding-left: 1rem;

          @media screen and (max-width: $ipadpro){
            height: 40rem;
          }
          @media screen and (max-width: $ipad){
            height: 30rem;
          }
          @media screen and (max-width: $mobile){
            height: 15rem;
          }
          
          .list {
            color: $pallete3;
            font-size: 1em;
            margin-top: 0.5rem;
            line-height: 1.5rem; 
          }
          
          .borrar-anotacion {
            font-size: 1em;
            float: right;
            cursor: pointer;
            margin-right: 0.5rem;
          }
        }
        
        .delete {
          background-color: $pallete5;
          border-radius: 8px;
          border: 2px solid $pallete4;
          height: 2rem;
          width: 100%;
          color: $pallete3;
          font-weight: 600;
          font-size: 1em;

          @media screen and (max-width: $ipadpro){
            height: 3rem;
          }
          @media screen and (max-width: $mobile){
            height: 1.5rem;
            margin-top: -0.5rem;
          }
          
        }
      }//anotado
    }//box
  } //container

  @media screen and (max-width: $ipadpro){
    font-size: 120%;  
  } 
  @media screen and (max-width: $mobile){
    font-size: 100%;
  }
} //wrapper